<a href="/countries" class="button">Edit/Add Trips</a>
<%prev = 0%>

<ul id = "frontp">
  <li><h1>Hi, Suzy</h1></li>

  <li><h2>Your trips so far:</h2></li>
  <li><h3>COUNTRIES VISITED: <%=@countries.length%></h3></li>
  <li><h3>CITIES VISITED: <%=@cities_visited.length%></h3></li>
  <li><h3>SIGHTS SEEN: <%=@sights.length%></h3></li>
</ul>
