<!DOCTYPE html>
<html>
<head>
  <title>Wandering Not Lost: My Travel Tracker</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div id="wrapper">
    <header>
      <div id="logo">
        <p>myBucketList</p>
        <!-- <a href="/"><img src="/images/myBucketList.png" alt="myBucketList logo" height = "65" width="50"> </a> -->
      </div>
    </header>

    <nav>
      <a href='/'>HOME</a>
      <a href='/trips/all'>ALL TRIPS</a>
      <a href='/trips/visited'>PLACES VISITED</a>
      <a href='/trips/tosee'>STILL TO SEE</a>
    </nav>

    <div class = "left-space"></a></div>
    <main>
      <div class = "vcontainer">
        <div class = "hcontainer">
          <div class = "content">
            <%= yield %>
          </div>
        </div>
      </div>
    </main>
    <div class = "right-space"></a></div>


    <footer><p class="copyright">© myBucketList 2019</p></footer>
  </div>
