*{
border: 0;
padding: 0;
margin: 0;
}

body {

	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 14px;
	color:#605436;
}

.button {
  border:#605436 2px solid;
	color: #605436;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
}
.button_2 {
  color: black;
  text-align: left;
  display: inline-block;
  font-size: 10px;
}

a {
  text-decoration: none;
}

/* Web layout */
#wrapper{
	background: url(/images/trips_olde_worlds_v2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: grid;
  grid-template-columns: 2fr  5fr  2fr;
  grid-template-rows: auto auto auto;
  width: 100%;
  box-shadow: 0 0 15px 15px rgba(200,200,200,.14);
}

#logo {
text-align: left;
padding-top: 20px;
padding: 20px;
color:black;
font-family: fantasy;
font-size: 30px;
}

#copyright {
color: #888;
font-size: 12px;
letter-spacing: 1px;
}

#frontp, #frontp ul  {
  text-align: left;
  list-style-type: none;
}

#frontp h2 {
  margin-top:40px;
}

#places, #places ul  {
  text-align: left;
  list-style-type: none;
}

#places h1 {
	font-size: 25px;
}

#places h2 {
	color: #751636 !important;
	font-size: 25px;
  border-bottom: 1px solid #000;
  margin-top:20px;
}


#places h3 {
	color: black;
	font-size: 20px;
	display:inline;
}

#places a {
	color:#751636;
	margin-top:15px;
	text-decoration: none;
	font_weight: bold;
	font-size:20px;
	display: inline;
}

#places h4 {
	font-size:15px;
}

#places h4.italic {
	font-style: italic;
	color:#605436;
	font-size:13px;
}

h6{
	text-decoration: none;
	font-style: italic;
	color: #751636;
	display: inline;
  }

#trip_wrapper{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  width: 100%;
  box-shadow: 0 0 15px 15px rgba(200,200,200,.14);
}

#country, #country ul  {
	padding:5px;
  text-align: left;
  list-style-type: none;
}

#country h2 {
  padding: 5px;
	font-size: 20px;
}

#country a {
  text-decoration: none;
	/* color:#605436; */
	color: #751636;
}

.country_name{font-size:20px;
padding: 5px;
margin: 5px;}



#city, #city ul {
	padding:5px;
	text-align: left;
	list-style-type: none;

}

#city h2 {
  padding: 5px;
	font-weight: 400;
	font-size: 20px;
}

#city a {
  text-decoration: none;
	color: #751636;
}

.city_name{font-size:20px;
padding: 5px;
margin: 5px;}



#sight, #sight ul  {
	padding:5px;
  text-align: left;
  list-style-type: none;
}

#sight h2 {
  padding: 5px;
	font-size: 20px;
}

#sight h3 {
  padding: 7px;
	font-size: 15px;
}

#sight a {
  text-decoration: none;
  color: #751636;
	display: inline;
}

.add_padding {padding: 7px;
font-size: 15px;}

.sight_name{font-size:20px;
padding: 5px;
margin: 5px;}

.visit_status{
	text-decoration: none;
  font-style: italic;
  color: #751636;
  display: inline;}

.details{
  grid-column: auto;
}


header{
  grid-area: 1 / 1 / 2 / 4;
}

main{
    grid-area: 3 / 2 / 4 / 3;
		min-height: 616px;
}
.left-space{
    grid-area: 3 / 1 / 4 / 2;
    /* background-color: lightgray; */
}

.right-space{
    grid-area: 3 / 3 / 4 / 4;
    /* background-color: lightgray; */
}

footer{
    grid-area: 4 / 1 / 5 / 4;
    background-color: #e3d4c1;
    opacity: 80%;
    padding: 10px;
}

/* Horizontal menu layout */
nav {
  grid-area: 2 / 2 / 3 / 3;

  font-size: 15px;
  list-style: none;
  border-bottom: 1px solid #605436;
  text-align: center;
  color: #605436;
  display: block;
  /* width: 500px; */
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
}

nav a {
	font-family: 'Gill sans';
	text-align:center;
  display: block;
  float: left;
  font-size: 20px;
  color: black;
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-decoration: none;
}

nav a:hover {
  background-color: #605436;
	color: white;
	opacity: .6;
}

nav a:active {
  background-color: #605436;
	color: white;
	opacity: .6;
}

.vcontainer {
  display: table;
  height: 100%;
  width: 100%;
}
.hcontainer {
  display: table-cell;
  vertical-align: middle;

  text-align: center;
}

.content {
	border-radius: 25px;
  display: inline-block;
  border: darkgray 2px solid;
	background-color: white;
	opacity: 0.7;
  text-align: left;
  padding: 50px;
  margin:10px;
	width: 433px;
	box-shadow: 0 0 15px 15px rgba(200,200,200,.14);
}

/* form */

.form-style-1 {
	margin:10px auto;
	max-width: 433px;
	padding: 20px 12px 10px 20px;
	font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}
.form-style-1 label{
	margin:0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: bold;
}
.form-style-1 input[type=text],
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea,
select{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 7px;
	margin:0px;
	/* -webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out; */
	outline: none;
}
.form-style-1 input[type=text]:focus,
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus,
.form-style-1 select:focus{
	-moz-box-shadow: 0 0 8px #605436;
	-webkit-box-shadow: 0 0 8px #605436;
	box-shadow: 0 0 8px #605436;
	border: 1px solid #605436;
}

.form-style-1 input[type='radio']:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #d1d3d1;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
    }
.form-style-1 input[type='radio']:checked:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #751636;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
    }



.form-style-1 .field-divided{
	width: 49%;
}

.form-style-1 .field-long{
	width: 50%;
}
.form-style-1 .field-select{
	width: 50%;
}
.form-style-1 .field-textarea{
	height: 100px;
  width: 50%
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
	background: #751636;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
	background: #d0ab95;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.form-style-1 .required{
	color:red;
}
