<h6><a href=/trips/all>all trips</a><h6>
<h2>Edit/Add Trips</h2>
  <% @countries.each do |country| %>
  <ul id = "country">
    <li> <a class = "country_name" href="/cities/<%= country.id %>"> <%= country.name %></a>
      - <a href="/countries/<%= country.id %>/edit">Edit</a>

    </li>
  </ul>
  <% end %>

<a href="/countries/new" class="button">Add a country</a>
