<h2>Add a country</h2>
<form class = "form-style-1 " method="POST" action="/countries">
  <label for="name">Country Name:</label>
  <input type="text" name="name" id="name"/>
  <input type="submit" value="Add Country"/>
</form>
